# The core browser automation library
selenium

# The extension for Selenium that lets us inspect network traffic
selenium-wire

# For data validation and elegant settings management
pydantic-settings
blinker==1.7.0
packaging
brotli
setuptools

# For creating the API to serve our data
fastapi

playwright

gunicorn